<!DOCTYPE html>
<html>
<head>
  <title>あっち向いてホイ</title>
</head>
<body>
  <h1>あっち向いてホイ</h1>
  <p>あなた: <%= your %></p>
  <p>CPU: <%= cpu %></p>
  <p>結果: <%= judgement %></p>
  <p>勝利数: <%= win %></p>
  <p>対戦数: <%= total %></p>
</body>
</html>
